[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
  branch = dev
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/taskwiki"]
	path = bundle/taskwiki
	url = https://github.com/tbabej/taskwiki.git
[submodule "bundle/vim-plugin-AnsiEsc"]
	path = bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-taskwarrior"]
	path = bundle/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
